app/.vite/deps/
server/.venv/
**/__pycache__/**
package-lock.json
node_modules/
server/files/input/
server/files/output/
server/database.duckdb
*.duckdb
*.wal
server/h3_lake/
geoparquet-tile-server/
source-data/ODB_v3/ODB_v3*
